header{

    background-color: #FF9A3C;
    height: 90px;
}
#img_header{
    max-width: 110px;
}

.conteudo_header{
    max-width: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.lista_item{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.card-body{
    position: relative;
    background-color: #FF6F3C;  
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#card_bottom{
    position: absolute;
    bottom: 0;
    max-width: 100%;
    border-top: 1px solid #FF6F3C;
    width: 100%;
}
.btn{
    background-color: #FFC93C;
    border: none;
    border-radius: 20px;
    color: black;
    width: 100%;
    max-width: 140px;
  
    
}
#valor{
    width: 100%;
    background-color: #FF6F3C;
    text-align: center;
    color: white;
}
.card-title{
    color: white;
}
.bg{
    padding-top: 40px;
    background-color: #155263;
    height: fit-content;
    min-height: 99vh;
}

.carrinho_btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.quantidade_carrinho{
    position: absolute;
    border-radius: 30px;
    background-color: red;
    color: white;
    width: 23px;
    height: 23px;
    top: 20px;
    right: -10px;
    text-align: center;
}